Library
/*-csharp.sln
/Assembly-CSharp.csproj
/Assembly-CSharp-vs.csproj
/*.sln
/*.userprefs
/*-csharp.sln
Temp
/*.apk
apk
android.project
platforms
/platforms/fingerOfGod/*.unity3d
/web/*.html
/web/*.unity3d
